@font-face {
    font-family: 'FiraSans-Bold';
    src: url('../fonts/FiraSans-Bold.ttf');
   
}
@font-face {
    font-family: 'FiraSans-Medium';
    src: url('../fonts/FiraSans-Medium.ttf');
   
}
@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans-Regular.ttf');
   
}
@font-face {
    font-family: 'FiraSans-SemiBold';
    src: url('../fonts/FiraSans-SemiBold.ttf');
   
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.ttf');
   
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf');
   
}
@font-face {
    font-family: 'Lato-Thin';
    src: url('../fonts/Lato-Thin.ttf');
   
}
